/* font import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color */
    --textLight: #f5f5f5;
    --textDark: #333;
    --yellowPrimary: #E4C087;
    --yellowSecondary: #E8B86D;

    /* bg */
    --bgDark: #333;
    --bgLight: #f5f5f5;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: var(--textDark);
    background-color: var(--bgLight);
    min-width: 350px;
    max-width: 2250px;
    margin: 0 auto;
}

/* ---------Header Styles------------- */
.store-header {
    display: flex;
    position: relative;
    container-type: inline-size;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgDark);
    color: var(--bgLight);
    padding-top: clamp(1rem, 0.8372rem + 0.7442vw, 2rem);
    padding-bottom: clamp(1rem, 0.8372rem + 0.7442vw, 2rem);
    padding-left: clamp(1rem, 0.5116rem + 2.2326vw, 4rem);
    padding-right: clamp(1rem, 0.5116rem + 2.2326vw, 4rem);
}

.store-name {
    color: var(--yellowSecondary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1.25rem, 1.0465rem + 0.9302vw, 2.5rem);
    font-weight: 500;
    margin: 0;
    transition: .3s ease;

    &:hover {
        color: var(--yellowPrimary);
    }
}

/* ----------Container for the book details--------------- */
.book-details-container {
    container-type: inline-size;
    background-color: white;
    max-width: 1000px;
    width: 100%;
    margin: 2rem auto;
    min-height: 80dvh;
    padding-top: clamp(1rem, 0.8372rem + 0.7442vw, 2rem);
    padding-bottom: clamp(1rem, 0.8372rem + 0.7442vw, 2rem);
    padding-left: clamp(1rem, 0.5116rem + 2.2326vw, 4rem);
    padding-right: clamp(1rem, 0.5116rem + 2.2326vw, 4rem);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.book-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    .image-container {
        width: 75%;
    }
}

.book-details h1 {
    font-size: clamp(1.25rem, 1.1686rem + 0.3721vw, 1.75rem);
    margin-bottom: 20px;
    color: var(--textDark);
}

.book-details img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.book-details p {
    font-size: clamp(0.875rem, 0.8547rem + 0.093vw, 1rem);
    margin: 10px 0;
}

.loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
}

.error-message {
    font-size: 1.5em;
    color: #e74c3c;
    text-align: center;
}


/* Responsive adjustments for smaller screens */
/* @container (max-width: 768px) {
    .book-details-container {
        padding: 15px;
    }

    .book-details img {
        width: 150px;
    }

    .wishlist-btn,
    .cart-btn {
        font-size: 0.9em;
        padding: 10px 15px;
    }
} */


/* Footer Styles */
.store-footer {
    background-color: var(--bgDark);
    color: var(--textLight);
    padding-top: 2rem;
    margin-top: 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
    gap: 1.5rem;
    padding-top: clamp(1rem, 0.8372rem + 0.7442vw, 2rem);
    padding-bottom: clamp(1rem, 0.8372rem + 0.7442vw, 2rem);
    padding-left: clamp(1rem, 0.5116rem + 2.2326vw, 4rem);
    padding-right: clamp(1rem, 0.5116rem + 2.2326vw, 4rem);
}

.footer-section {
    padding: clamp(0rem, -0.2442rem + 1.1163vw, 1.5rem);
}

.footer-heading {
    font-size: clamp(1.25rem, 1.1686rem + 0.3721vw, 1.75rem);
    margin-bottom: 1rem;
    color: var(--yellowSecondary);
    border-bottom: 1px solid var(--yellowSecondary);
    padding-bottom: 0.5rem;
    transition: .3s ease;
}

.footer-section p {
    font-size: clamp(0.875rem, 0.8547rem + 0.093vw, 1rem);
    text-wrap: pretty;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: var(--bgLight);
    font-size: clamp(0.875rem, 0.8547rem + 0.093vw, 1rem);
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
        color: var(--yellowSecondary);
    }
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icon {
    font-size: 1.5rem;
    color: var(--bgLight);
    transition: color 0.3s ease;

    &:hover {
        color: var(--yellowSecondary);
    }
}

.footer-bottom {
    text-align: center;
    background-color: #222;
    padding: 1rem;
    font-size: 0.75rem;
    border-top: 1px solid #444;
    margin-top: 1.5rem;

    & p {
        margin: 0;
    }
}